@font-face{
  font-family: "KFGQPC Uthmanic Script HAFS";
  src: url("fonts/KFGQPC_Uthmanic_Script_HAFS.ttf") format("truetype");
  font-display: swap;
}
.quran-text{ font-family:"KFGQPC Uthmanic Script HAFS", serif; }
